.about-us {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100%;

  @include bp-tablet {
    display: flex;
    flex-wrap: wrap;
    background-size: auto 15px;
  }

  @include bp-desktop {
    max-width: 1050px;
    background-size: auto 20px;
  }
}

.about-us__header {
  padding: 11px 0 0;

  @include bp-desktop {
    padding: 40px 0 0;
  }
}

.about-us__list {
  list-style-type: none;
  width: 100%;
  padding: $padding-usual-tab 0 0;

  @include bp-tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 0 0;
    margin: $padding-usual-tab 0;
  }

  @include bp-desktop {
    margin-bottom: 0;
  }
}

.about-us__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 $padding-usual;
  font-size: 1.7rem;
  font-weight: bold;

  &::before {
    content: "";
    width: 55px;
    height: 37px;
    margin: 0 0 20px;
  }

  &:last-child {
    padding: 0;
  }

  &--ecology::before {
    background: url("../img/icon-feature-flower.svg") no-repeat bottom center;
    background-size: auto 37px;
  }

  &--style::before {
    background: url("../img/icon-feature-money.svg") no-repeat bottom center;
    background-size: 47px 27px;
  }

  &--likes::before {
    background: url("../img/icon-feature-heart.svg") no-repeat bottom center;
    background-size: 34px 27px;
  }

  &--handwork::before {
    background: url("../img/icon-feature-ball.svg") no-repeat bottom center;
    background-size: 35px 34px;
  }

  &--support::before {
    background: url("../img/icon-feature-rocket.svg") no-repeat bottom center;
    background-size: 100% auto;
  }

  &--gift::before {
    background: url("../img/icon-feature-gift.svg") no-repeat bottom center;
    background-size: 33px 32px;
  }

  @include bp-tablet {
    width: 50%;
    padding: 0 10% 50px 0;

    &--ecology {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
    }

    &--handwork {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--gift {
      order: 6;
    }

    font-size: 2rem;
    line-height: 1.1;
  }
}

.about-us__icon {
  fill: #149080;
  margin: 0 0 1em;
}
