.button {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: $color-usual;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: $bg-color-usual;
  border: 2px solid $border-color-dark;

  @include transition;

  &:hover,
  &:focus,
  &:active {
    background-color: $bg-color-dark;
    color: $light-text;
  }
}

.button--green {
  background-color: $button-green-color;
  border: 2px solid $button-green-color;
  color: $light-text;

  &:hover,
  &:focus,
  &:active {
    background-color: $bg-color-usual;
    border: 2px solid $button-green-color;
    color: $button-green-color;
  }
}
