.button {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #444444;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #444444;

  @include transition;

  &:hover,
  &:focus,
  &:active {
    background-color: #444444;
    color: #ffffff;
  }
}

.button--green {
  background-color: #64d1bc;
  border: 2px solid #64d1bc;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    background-color: #ffffff;
    border: 2px solid #64d1bc;
    color: #64d1bc;
  }
}
