.catalog-product-type {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-product-type__item {
  display: block;
  width: 100%;
  background-color: #63d1bb;

  &:nth-child(even) {
    background-color: #56c3b2;
  }
}

.catalog-product-type__link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 50%;
  width: 100%;
  min-height: 103px;
  font-size: 1.9rem;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &--interior {
    background: url("../img/icon-interior.svg") no-repeat right center;
    background-size: 40px 62px;
  }

  &--toy {
    background: url("../img/icon-toy.svg") no-repeat right center;
    background-size: 60px 60px;
  }
}

