.catalog-product-type {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include bp-tablet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
    background-color: #f9f9f9;
  }

  &::after {
    @include bp-tablet {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x 0 0;
      background-size: auto 24px;
    }
  }
}

.catalog-product-type__item {
  display: flex;
  width: 100%;
  background-color: $tiffany-medium;

  &:nth-child(even) {
    background-color: #56c3b2;
  }

  @include bp-tablet {
    width: 50%;
    padding-bottom: 24px;
  }

  @include bp-desktop {
    max-width: 525px;
  }
}

.catalog-product-type__link {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50% 0 $padding-usual;
  width: 100%;
  min-height: 103px;
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: bold;
  color: $white;
  text-decoration: none;

  &:hover {
    padding-bottom: 5px;
    text-decoration: none;
  }

  &:focus,
  &:active {
    padding-bottom: 5px;
    text-decoration: none;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    right: 30px;
    width: 60px;
    height: 60px;
    content: "";
  }

  &--interior::after {
    background: url("../img/icon-interior.svg") no-repeat center;
    background-size: auto 100%;
  }

  &--toy::after {
    background: url("../img/icon-toy.svg") no-repeat center;
    background-size: auto 100%;
  }
}
