.catalog-product-type {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include bp-tablet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 50px;
  }

  @include bp-desktop {
    max-width: $bp-desk-big;

    @include gorisontal-center;
  }
}

.catalog-product-type__item {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 108px;
  background-color: $tiffany-light;

  transition: margin-top 200ms ease-in-out;

  &:nth-child(even) {
    background-color: $tiffany-medium;
  }

  @include bp-tablet {
    width: 50%;
  }
}

.catalog-product-type__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 50% 0 $padding-usual;
  width: 100%;
  height: 108px;
  font-size: 1.9rem;
  line-height: 1.2;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background-color: $tiffany-light;

  &:hover {
    text-decoration: none;
    height: 114px;
    margin-top: -5px;
    padding-bottom: 5px;
    transition: margin-top 200ms ease-in-out, heoght 200ms ease-in-out;
  }

  &:focus,
  &:active {
    text-decoration: none;
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    right: 30px;
    width: 60px;
    height: 108px;
    content: "";
  }

  &--interior::after {
    background: url("../img/icon-interior.svg") no-repeat center;
    background-size: 40px 62px;
  }

  &--toy::after {
    background: url("../img/icon-toy.svg") no-repeat center;
    background-size: 60px 60px;
  }
}

.catalog-product-type__item:nth-child(even) .catalog-product-type__link {
  background-color: $tiffany-medium;
}
