.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100%;
  padding: 30px 0 40px;
}

.contacts__header {
  padding: 20px 30px 40px;
}

.contacts__title {
  font-size: 1.6rem;
  padding: 0;
}
