.contacts-info {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.3rem;
  line-height: 2;
  padding: 0 $padding-usual;

  @include bp-tablet {
    flex-direction: row;
    padding: 0 $padding-usual-tab;
    font-size: 1.7rem;
    line-height: 1.7;
  }

  @include bp-desktop {
    flex-wrap: wrap;
    width: 50%;
    padding: 0 50px 0 175px;
  }
}

.contacts-info__item {
  display: flex;
  padding: 0 0 40px;

  &:last-child {
    padding: 0;
  }

  @include bp-tablet {
    width: 50%;
  }

  @include bp-desktop {
    width: 100%;
  }
}

.contacts-info__parameter {
  min-width: 30%;

  @include bp-tablet {
    min-width: 25%;
  }
}

.contacts-info__link-email {
  color: $grey-dark;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:active {
    color: #46c1ae;
    border-bottom: 1px solid #46c1ae;
  }

  &:focus {
    opacity: 0.3;
  }

  @include bp-tablet {
    padding: 0.5rem 0 0;
    height: 30px;
  }

}

.contacts-info__button-box {
  padding: 0 2em;

  @include bp-tablet {
    width: 230px;
    margin: 0 auto;
  }

  @include bp-desktop {
    width: 50%;
    margin: 0;
    padding: 0 100px 0 175px;
  }
}
