.content-box-header {
  width: 100%;

  @include bp-tablet {
    display: flex;
  }
}

.content-box-header__title {
  display: flex;
  padding: 0 0 8px;
  width: 100%;
  font-size: 2.4rem;
  line-height: 0.8;
  font-weight: bold;
  color: $black;

  @include bp-tablet {
    font-size: 4.3rem;
  }

  @include bp-desktop {
    font-size: 5.3rem;
  }
}

.content-box-header__link {
  display: block;
  width: 100%;
  color: $black;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.6;
  }
}
