.contacts-info {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 2;
  padding: 0 $padding-usual;

  @include bp-tablet {
    flex-direction: row;
    padding: 0 $padding-usual-tab;
    font-size: 1.7rem;
    line-height: 1.7;
  }

  @include bp-desktop {
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 37px 0 0 173px;
  }
}

.contacts-info__item {
  display: flex;
  padding: 0 0 29px 0;

  &:last-child {
    padding: 0;
  }

  @include bp-tablet {
    width: 50%;
  }

  @include bp-desktop {
    width: 100%;
    padding: 0;

    &--address {
      margin: -50px 0 0;
      padding-right: 10px;
    }
  }
}

.contacts-info__parameter {
  min-width: 30%;

  @include bp-tablet {
    min-width: 76px;
  }

  @include bp-desktop {
    min-width: 79px;
  }
}

.contacts-info__link-email {
  color: $black-medium-light;
  text-decoration: none;
  border-bottom: 1px solid $tiffany-light-medium;

  &:hover,
  &:active {
    color: $tiffany-medium-dark;
    border-bottom: 1px solid $tiffany-medium-dark;
  }

  &:focus {
    opacity: 0.3;
  }

  @include bp-tablet {
    padding: 0;
    height: 30px;
  }
}

.contacts-info__value {
  padding-right: 15%;

  @include bp-tablet {
    padding-right: 0;
  }

  @include bp-desktop {
    padding-right: 0;
  }
}

.contacts-info__button-box {
  padding: 0 2em;

  @include bp-tablet {
    width: 285px;
    margin: 0 auto;
  }

  @include bp-desktop {
    width: 100%;
    margin: 0 90px 0 0;
    align-self: flex-end;
    max-width: 290px;
  }
}
