.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 100%;
  padding: $padding-usual 0 40px;

  @include bp-tablet {
    max-width: $bp-tab;

    @include gorisontal-center;
    padding: $padding-usual-tab 0;
  }

  @include bp-desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $bp-desk-small;
    height: 557px;
  }
}

.contacts__header {
  padding: 20px $padding-usual 40px;

  @include bp-tablet {
    padding: 38px $padding-usual-tab;

    &::after {
      content: "";
      display: inline-block;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat right center;
      background-size: auto 81px;
    }
  }

  @include bp-desktop {
    display: flex;
    width: 50%;
    padding: 60px 0 0;

    &::after {
      min-width: 175px;
      background-position: center;
      order: -1;
    }
  }
}

.contacts__title {
  font-size: 1.6rem;
  padding: 0;

  @include bp-tablet {
    display: flex;
    align-items: center;
    font-size: 4.3rem;
  }
}

.contacts__map {
  @include bp-desktop {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    padding: 0;
    height: 457px;
    order: 2;
    overflow: hidden;
  }
}
