.developer {
  width: 100%;
  padding: 30px 0;
  font-size: 1.6rem;
  color: #000000;
  font-weight: bold;
}

.developer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;

  &:focus {
    opacity: 30%;
  }
}

.developer__text {
  padding: 0 25px 0 0;
}

.developer__logo {
  fill: #63d1bb;
  height: 34px;

  &:hover,
  &:active {
    fill: #46c1ae;
  }
}
