.developer {
  width: 100%;
  padding: $padding-usual 0;
  font-size: 1.6rem;
  color: $black;
  font-weight: bold;

  @include bp-tablet {
    width: 33%;
    font-size: 1.9rem;
    padding: $padding-usual-tab 0;
  }
}

.developer__link {
  @include flex-center-vh;
  color: $black;
  text-decoration: none;

  &:focus {
    opacity: 30%;
  }

  @include bp-tablet {
    justify-content: flex-end;
  }
}

.developer__text {
  padding: 0 25px 0 0;
}

.developer__logo {
  fill: $tiffany-medium;
  height: 34px;

  &:hover,
  &:active {
    fill: #46c1ae;
  }
}
