.developer {
  @include flex-center-vh;
  width: 100%;
  font-size: 1.6rem;
  color: $black;
  font-weight: bold;

  @include bp-only-mobile {
    height: 80px;
  }

  @include bp-tablet {
    width: 33%;
    justify-content: flex-end;
    font-size: 1.9rem;
    padding: $padding-usual-tab 0;
  }
}

.developer__link {
  &:focus {
    opacity: 30%;
  }

  @include bp-tablet {
    justify-content: flex-end;
  }
}

.developer__text {
  padding: 0 25px 0 0;

  @include transition;

  &:hover {
    @include transition;
    opacity: 0.3;
  }
}

.developer__logo {
  height: 34px;
  fill: $tiffany-light;

  &:hover {
    fill: $tiffany-medium-dark;
  }
}

.developer__text:hover + .developer__link {
  opacity: 0.3;
}
