.full-order-form {
  width: 100%;
  padding: $padding-usual 0;

  @include bp-tablet {
    padding: $padding-usual-tab 0;
  }

  @include bp-desktop {
    padding: $padding-usual-tab 0 0;
  }
}

.full-order-form__wrapper {
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5) {
    @include bp-tablet {
      background-color: $white-medium;
    }
  }
}

.full-order-form__fieldset {
  padding: 0 0 $padding-usual;

  @include bp-tablet {
    display: flex;
    padding: $padding-usual-tab;

    &--phone {
      padding-bottom: 0;
    }

    &--email {
      padding-top: 15px;
    }
  }

  @include bp-desktop {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: $padding-usual-tab 0;

    &--phone {
      padding-bottom: 0;
      padding-right: 175px;
    }

    &--email {
      padding-top: 15px;
      padding-right: 175px;
    }

    &--fullname {
      padding-right: 175px;
    }

    &--comments {
      padding-right: 175px;
    }
  }
}

.full-order-form__title {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: $tiffany-medium;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0 $padding-usual;

  &::after {
    content: "";
    height: 1px;
    background: #61d3bc;
    flex-grow: 1;
  }

  @include bp-tablet {
    min-width: 166px;
    flex-basis: 166px;
    height: 52px;
    line-height: 52px;

    &::after {
      display: none;
    }
  }

  @include bp-desktop {
    min-width: 175px;
    flex-basis: 175px;
    padding-left: 61px;
  }
}

.full-order-form__title-text {
  padding: 0 $padding-usual 0 0;

  @include bp-tablet {
    padding: 0;
  }
}

.full-order-form__element-box {
  @include bp-tablet {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &--colors {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.full-order-form__element {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0 0 22px;
  width: 100%;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  color: $black;

  &:last-child {
    padding: 0;
  }

  @include bp-tablet {
    font-size: 1.9rem;

    &--checkbox {
      width: 50%;
    }

    &--fullname {
      flex-wrap: nowrap;
    }
  }

  @include bp-desktop {
    &--checkbox {
      width: 33%;
    }

    &--colors {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.full-order-form__button-box {
  @include bp-tablet {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-usual-tab;
  }

  @include bp-desktop {
    max-width: 1050px;
    padding: 0 175px;
    @include gorisontal-center;
  }
}

.full-order-form__remark {
  margin: 0;
  padding: 0 0 2em;
  font-size: 1.3rem;

  @include bp-tablet {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    font-size: 1.7rem;
    padding: 0;
  }
}

.full-order-form__button {
  @include bp-tablet {
    order: -1;
    width: 34%;
  }
}


.full-order-form__value {
  position: relative;
  display: flex;
  width: 100%;

  &--radio,
  &--checkbox {
    padding-left: 5em;
    align-items: center;
    min-height: 40px;

    @include bp-tablet {
      min-height: 52px;
      padding-left: 4.5em;
    }
  }

  &--radio::before,
  &--checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid #434343;

    @include transition;

    @include bp-tablet {
      width: 52px;
      height: 52px;
    }
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio:hover::before,
  &--checkbox:hover::before {
    border-color: #62d1ba;
  }

  &--radio::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 13px;
    left: 13px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #62d1ba;
    opacity: 0;

    @include transition;

    @include bp-tablet {
      top: 17px;
      left: 17px;
      width: 22px;
      height: 22px;
    }
  }

  &--checkbox::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    background: url("../img/icon-tick.svg") no-repeat center;
    background-size: auto 50%;
    opacity: 0;

    @include transition;

    @include bp-tablet {
      top: 15px;
      left: 9px;
      width: 33px;
      height: 22px;
      background-size: 33px 22px;
    }
  }

  &--fullname {
    @include bp-tablet {
      @include flex-center-vh;
      width: auto;
      padding-right: 25px;
    }
  }
}

.full-order-form__radio:checked + .full-order-form__value--radio::after,
.full-order-form__checkbox:checked + .full-order-form__value--checkbox::after {
  opacity: 1;
}

.full-order-form__text-input {
  display: flex;
  width: 100%;
  padding: 15px 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #000000;
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: normal;
  color: $grey-dark;

  &:hover,
  &:active {
    border-bottom-color: #62d1ba;
  }

  @include bp-tablet {
    padding: 15px 17px;
  }
}

.full-order-form__fieldset--phone .full-order-form__text-input,
.full-order-form__fieldset--email .full-order-form__text-input {
  background-color: $white-medium;
}

.full-order-form__icon {
  position: absolute;
  bottom: 10px;
  right: 0;
  fill: $grey-light;

  @include transition;

  @include bp-tablet {
    right: 20px;
  }
}

.full-order-form__element:hover .full-order-form__icon,
.full-order-form__element:focus .full-order-form__icon,
.full-order-form__element:active .full-order-form__icon {
  fill: #62d1ba;
}

.full-order-form__textarea {
  display: flex;
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #000000;
  font-size: 1.7rem;
  line-height: 1.3;
  font-weight: normal;
  color: $grey-dark;

  &:hover,
  &:active {
    border-color: #62d1ba;
  }
}
