.full-order-box {
  width: 100%;
  padding: 20px $padding-usual $padding-usual;

  @include bp-tablet {
    padding: $padding-usual-tab 0 40px;
  }

  @include bp-desktop {
    padding: 105px 0 $padding-usual-tab;
  }
}

.full-order-box__description {
  font-size: 1.3rem;
  line-height: 1.84;
  padding: 0;
  margin: 0;

  @include bp-tablet {
    max-width: $bp-tab;

    @include gorisontal-center;
    padding: 0 $padding-usual-tab;
    font-size: 1.7rem;
    line-height: 1.7;
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    padding: 0 150px 0 175px;
    line-height: 1.8;
  }
}
