.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 176px;
  background-color: #f1f1f1;
  color: #000000;
}

.intro__title {
  font-size: 2.7rem;
  line-height: 1.1;
}
