.intro {
  @include flex-center-vh;
  min-height: 176px;
  background-color: $white-medium;
  color: $black;

  @include bp-tablet {
    min-height: 223px;
    padding-top: 24px;
    background: $white-medium url("../img/bg-zigzag-fill.svg") repeat-x 0 bottom;
    background-size: auto 24px;
  }

  @include bp-desktop {
    min-height: 255px;
    padding-top: 0;
    padding-bottom: 24px;
  }
}

.intro__title {
  font-size: 2.7rem;
  line-height: 1.1;

  @include bp-tablet {
    font-size: 4.3rem;
  }

  @include bp-desktop {
    font-size: 5.3rem;
  }
}
