.main-header {
  position: relative;
  text-align: center;
  border-top: 1px solid $border-color-usual;
  min-height: 80px;
}

.main-header__logo-link {
  @include flex-center-vh;
  height: 80px;
  width: 50%;
  margin: 0 auto;
}
