.map-box {
  position: relative;

  @include adaptive-img-wrapper;
  padding: 40px 0;
  text-align: center;

  &::after {
    position: absolute;
    top: 33%;
    left: 44%;
    content: "";
    display: block;
    width: 67px;
    height: 100px;
    background: url("../img/icon-map-pin.svg") no-repeat center;
    background-size: contain;

    @include bp-tablet {
      left: 47%;
    }

    @include bp-desktop {
      top: 32%;
      left: 46%;
    }
  }

  @include bp-tablet {
    max-width: 768px;
    padding: 40px 0 50px;
  }

  @include bp-desktop {
    padding: 0;
    width: 525px;
    height: 457px;
  }
}

.map-box__img {
  @include adaptive-img;
  margin: 0 auto;

  @include bp-desktop {
    min-width: 525px;
    min-height: 427px;
  }
}
