.nav__toggle {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% auto;
}

.nav__toggle--open {
  background-image: url("../img/icon-menu-open.svg");
}

.nav__toggle--close {
  background-image: url("../img/icon-menu-close.svg");
}
