.product-week {
  width: 100%;
}

.product-week__header-mark {
  font-size: 1.7rem;
  line-height: 0.85;
  color: $tiffany-medium;
  text-transform: uppercase;
}

.product-week__description {
  font-size: 1.3rem;
  line-height: 1.53;
  padding: 25px 0;
  margin: 0;
}

.product-week__photo {
  display: flex;
  padding: $padding-usual 0 0;

  @include adaptive-img-wrapper;
}

.product-week__img {
  @include adaptive-img;
}

.product-week__cost {
  width: 100%;
  padding: $padding-usual 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: $grey-dark;
}
