.product-week {
  width: 100%;
}

.product-week__header-mark {
  font-size: 1.7rem;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-week__description {
  font-size: 1.3rem;
  line-height: 2;
}

.product-week__photo {
  padding: 2em 0 0;
  width: 100%;
  text-align: center;
}

.product-week__cost {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: #444444;
}
