.product-info {
  width: 100%;
  font-size: 1.3rem;
  line-height: 1;
}

.product-info__row {
  border-bottom: 1px solid $border-color-usual;
}

.product-info__parameter,
.product-info__value {
  padding: 13px 0;
}
