.product-week {
  width: 100%;

  @include bp-tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: $bp-tab;

    @include gorisontal-center;
  }

  @include bp-desktop {
    padding-top: 125px;
    padding-bottom: 60px;
    max-width: $bp-desk-big;
  }
}

.product-week__header {
  @include bp-desktop {
    margin-bottom: -100px;
    z-index: 10;
  }
}

.product-week__header-mark {
  font-size: 1.7rem;
  line-height: 0.85;
  color: $tiffany-light;
  text-transform: uppercase;

  @include bp-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
    padding-right: 9px;
  }

  @include bp-desktop {
    order: -1;
    flex-basis: 175px;
    padding: 0 5% 0 4.5%;
  }

  @include bp-ie {
    max-width: 203px;
  }
}

.product-week__databox {
  @include bp-tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 0 $padding-usual-tab 0 0;
  }

  @include bp-desktop {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 636px;
    padding: 0;
  }
}

.product-week__description {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 27px 0 16px;
  margin: 0;

  @include bp-tablet {
    width: 100%;
    font-size: 1.7rem;
    line-height: 1.7;
    padding: 48px 0 33px 0;
  }

  @include bp-desktop {
    width: 50%;
    padding: 147px 50px 0 175px;
  }
}

.product-week__info-box {
  @include bp-only-mobile {
    max-width: 260px;

    @include gorisontal-center;
  }

  @include bp-desktop {
    width: 50%;
    padding-left: 175px;
    padding-right: 57px;
    padding-bottom: 12px;
  }
}

.product-week__photo {
  display: flex;
  padding: 27px 0 0;
  justify-content: center;

  @include adaptive-img-wrapper;

  @include bp-tablet {
    position: absolute;
    top: 52px;
    right: -100%;
    width: 333px;
    padding: 0;
    max-width: 333px;
    height: 403px;
    margin: 0;
  }

  @include bp-desktop {
    position: relative;
    z-index: 1;
    top: -12px;
    right: 0;
    order: 2;
    width: 525px;
    padding: 0;
    max-width: 525px;
    height: 636px;
  }
}

.product-week__img {
  @include adaptive-img;

  @include bp-tablet {
    min-width: 303px;
    min-height: 404px;
  }

  @include bp-desktop {
    min-width: 525px;
    min-height: 636px;
  }
}

.product-week__cost {
  width: 100%;
  padding: 24px 0 28px;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: $black-medium-light;

  @include bp-tablet {
    font-size: 2rem;
    line-height: 1.2;
    padding: 45px 0 35px;
  }

  @include bp-desktop {
    width: 50%;
    padding: 53px 56px 0 175px;
  }
}
