.product-week {
  width: 100%;

  @include bp-tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @include bp-desktop {
    padding-top: 150px;
    padding-bottom: 70px;
  }
}

.product-week__header {
  @include bp-desktop {
    margin-bottom: -100px;
    z-index: 10;
  }
}

.product-week__header-mark {
  font-size: 1.7rem;
  line-height: 0.85;
  color: $tiffany-medium;
  text-transform: uppercase;

  @include bp-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1;
  }

  @include bp-desktop {
    order: -1;
    flex-basis: 175px;
    padding:  0 5%;
  }
}

.product-week__databox {
  @include bp-tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 0 $padding-usual-tab 0 0;
  }

  @include bp-desktop {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 636px;
    padding: 0;
  }
}

.product-week__description {
  font-size: 1.3rem;
  line-height: 1.53;
  padding: 25px 0;
  margin: 0;

  @include bp-tablet {
    width: 100%;
    font-size: 1.7rem;
    line-height: 1.7;
    padding: 0 50px 33px 0;
  }

  @include bp-desktop {
    width: 50%;
    padding: 150px 50px 33px 175px;
  }
}

.product-week__info-box {
  @include bp-desktop {
    width: 50%;
    padding-left: 175px;
    padding-right: 50px;
  }
}

.product-week__photo {
  display: flex;
  padding: $padding-usual 0 0;

  @include adaptive-img-wrapper;

  @include bp-tablet {
    position: absolute;
    top: 50px;
    right: -100%;
    width: 333px;
    padding: 0;
    max-width: 333px;
    height: 403px;
    margin: 0;
  }

  @include bp-desktop {
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    order: 2;
    width: 525px;
    padding: 0;
    max-width: 525px;
    height: 636px;
  }
}

.product-week__img {
  @include adaptive-img;
}

.product-week__cost {
  width: 100%;
  padding: $padding-usual 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  color: $grey-dark;

  @include bp-tablet {
    font-size: 2rem;
    line-height: 1.2;
    padding: 43px 0 35px;
  }

  @include bp-desktop {
    width: 50%;
    padding: 50px 50px 0 175px;
  }
}
