.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 373px;
  padding: 95px 10% 0;
  overflow: hidden;
  background: #f9f9f9 url("../../img/hero-mobile@1x.jpg") no-repeat center bottom;
}

.promo__title {
  font-size: 2.7rem;
  color: #010000;
  text-align: center;
}
