.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  padding: 95px 10% 0;
  overflow: hidden;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center top;

  @include bp-tablet {
    height: 626px;
    padding: 165px 10% 0;
    background: #f9f9f9 url("../img/hero-tablet@1x.jpg") no-repeat center top;
  }
}

.promo__title {
  font-size: 2.7rem;
  color: $black;
  text-align: center;

  @include bp-tablet {
    font-size: 4.3rem;
    line-height: 1.1;
  }
}
