.review {
  position: relative;
  width: 100%;
  padding-bottom: 44px;

  @include bp-tablet {
    min-height: 457px;
    max-width: $bp-tab;

    @include gorisontal-center;
    margin-bottom: $padding-usual-tab;
    padding-top: 88px;
    background: url("../img/review@1x.jpg") no-repeat 0 0;

    @include bp-retina-2x {
      background: url("../img/review@2x.jpg") no-repeat 0 0;
      background-size: 350px auto;
    }
  }

  @include bp-desktop {
    max-width: $bp-desk-small;
    margin-left: auto;
    margin-right: auto;
    padding-left: 175px;
    padding-top: 50px;
  }
}

.review__blockquote {
  display: flex;
  flex-direction: column;
}

.review__text {
  font-size: 1.3rem;
  line-height: 2;
  margin: 0;
  padding: $padding-usual 0;

  @include bp-tablet {
    font-size: 1.7rem;
    line-height: 1.76;
    padding: $padding-usual-tab 0;
  }
}

.review__author {
  display: flex;
  width: 100%;
  padding: 0 0 15px;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: normal;

  @include bp-tablet {
    width: 50%;
    font-size: 1.8rem;
  }
}

.review__link {
  color: $black;
  font-size: 1.3rem;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $tiffany-medium-dark;
  }

  @include bp-tablet {
    display: flex;
    width: 50%;
    font-size: 1.7rem;
  }
}
