.review {

  &__blockquote {
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 1.3rem;
    line-height: 2;
  }

  &__author {
    display: block;
    width: 100%;
    padding: 0.5em 0;
    font-size: 1.7rem;
    font-weight: bold;
    font-style: normal;
  }

  &__link {
    color: #444444;
    font-size: 1.3rem;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: #46c1ae;
    }
  }
}
