.review {
  width: 100%;
  padding-bottom: 44px;
}

.review__blockquote {
  display: flex;
  flex-direction: column;
}

.review__text {
  font-size: 1.3rem;
  line-height: 2;
  margin: 0;
  padding: $padding-usual 0;
}

.review__author {
  display: block;
  width: 100%;
  padding: 0 0 15px;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: normal;
}

.review__link {
  color: $color-title;
  font-size: 1.3rem;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: #46c1ae;
  }
}
