.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 4px;
}

.slider__item {
  width: 100%;

  @include bp-desktop {
    padding-right: 50px;
  }
}

.slider__control {
  display: flex;
  width: 100%;
  padding: 35px 0;

  @include bp-tablet {
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 0;
    width: 175px;
  }

  @include bp-desktop {

  }
}

.slider__control-link {
  width: 50%;
  height: 50px;
  float: left;
  background-color: $white;
  text-decoration: none;
  border: 1px solid $white-medium-dark;

  &--back {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
    border-right: none;

    &:hover,
    &:active {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }

  &--forward {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;

    &:hover,
    &:active {
      opacity: 0.6;
    }

    &:focus {
      opacity: 0.3;
    }
  }

  @include bp-tablet {
    border: none;
  }
}

.slider__button {
  @include bp-tablet {
    position: absolute;
    top: 78px;
    right: 50px;
    width: 175px;
    font-size: 1.7rem;
  }

  @include bp-desktop {
    top: 78px;
    right: 0;
  }
}
