.social-box {
  width: 100%;
  padding: 0;

  @include bp-tablet {
    @include flex-center-vh;
    width: 33%;
  }
}

.social-box__list {
  display: flex;
  width: 80%;
  margin: 0 auto;
  list-style-type: none;

  @include bp-desktop {
    width: 50%;
  }
}

.social-box__item {
  width: 33.3%;
  text-align: center;
}

.social-box__link {
  @include flex-center-vh;
  width: 100%;
  text-decoration: none;
  padding: $padding-usual 0;
}

.social-box__link-icon {
  width: 21px;
  height: 28px;
  fill: #231f20;

  @include transition;

  &:hover,
  &:active {
    fill: #62d1ba;
  }

  &:focus {
    fill: #62d1ba;
    opacity: 0.3;
  }
}
