.social-box {
  width: 100%;
  padding: 0;

  @include bp-tablet {
    @include flex-center-vh;
    width: 33%;
  }
}

.social-box__list {
  display: flex;
  max-width: 190px;
  margin: 0 auto;
  list-style-type: none;

  @include bp-desktop {
    width: 50%;
  }
}

.social-box__item {
  width: 33.3%;
  text-align: center;
}

.social-box__link {
  @include flex-center-vh;
  width: 100%;
  min-height: 80px;
  text-decoration: none;
}

.social-box__link-icon {
  width: 21px;
  height: 28px;
  fill: $black-light;

  @include transition;

  &:hover,
  &:active {
    fill: $tiffany-light-medium;
  }

  &:focus {
    fill: $tiffany-light-medium;
    opacity: 0.3;
  }
}
