.video-box {
  position: relative;

  @include flex-center-vh;

  @include bp-tablet {
    order: -1;
  }
}

.video-box__prewiew {
  @include adaptive-img;
}

.video-box__play {
  position: absolute;

  @include position-zero;
  margin: auto;
  width: 100px;
  height: 76px;
  border: none;
  background: url("../img/icon-play.svg") no-repeat center;
  background-size: contain;

  @include transition;

  &:hover,
  &:active {
    transform: scale(1.2);
  }

  &:focus {
    transform: scale(0.8);
    opacity: 0.6;
  }
}

.video-box__description {
  font-size: 1.3rem;
  line-height: 2;
  padding: $padding-usual;
  margin: 0;

  @include bp-tablet {
    padding: $padding-usual-tab;
    padding-top: 0;
    font-size: 1.5rem;
    border-left: 1px solid $extra-light-grey;
    border-right: 1px solid $extra-light-grey;
  }
}

.video-box__button-order {
  padding: 0 $padding-usual;

  @include bp-tablet {
    padding: 0 $padding-usual-tab $padding-usual-tab;
    border: 1px solid $extra-light-grey;
    border-top: none;
  }
}
