.video {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 $padding-usual;
  border: 1px solid $border-color-usual;
}

.video__header {
  display: flex;

  &::before {
    content: "";
    width: 90px;
    min-height: 90px;
    background: url("../img/icon-video.svg") no-repeat center;
    background-size: 32px auto;
  }
}

.video__title {
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.1;
  color: $color-title;
}
