html {
  font: normal normal 10px/1.15 "Open Sans", "Arial", "Tahoma", sans-serif;
  color: $black-medium-light;
}

body {
  font-size: 1.4rem;
  word-wrap: break-word;
  background-color: $white;
}

.test {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}


