.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-mob {
  @include bp-mobile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @include bp-tablet {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: auto;
  }
}

