/* breakpoints for grids */
@mixin bp-mobile {
  @media all and (min-width: $bp-mob) {
    @content;
  }
}

@mixin bp-only-mobile {
  @media all and (max-width: $bp-only-mob) {
    @content;
  }
}

@mixin bp-tablet {
  @media all and (min-width: $bp-tab) {
    @content;
  }
}

@mixin bp-desktop {
  @media all and (min-width: $bp-desk-big) {
    @content;
  }
}

@mixin bp-retina-2x {
  @media (min-resolution: $retina-dppx) {
    @content;
  }
}

/* flex center vertical + horisontal */
@mixin flex-center-vh {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* light animation */
@mixin transition {
  transition: all 200ms ease-in-out;
}

/* img adaptive */
@mixin adaptive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* wrapper for img adaptive */
@mixin adaptive-img-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* zero position */
@mixin position-zero {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* horisontal center for limited blocks */
@mixin gorisontal-center {
  margin-right: auto;
  margin-left: auto;
}

/* visually hidden */
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
