/* background */
$bg-color-usual: #ffffff;
$bg-color-dark: #444444;

/* fonts */
$color-usual: #444444;
$light-text: #ffffff;
$color-title: #000000;

/* border */
$border-color-usual: #ececec;
$border-color-grey: #c6c6c6;
$border-color-dark: #444444;

/* padding */
$padding-usual: 30px;

/* random */
$color-tiffany: #63d1bb;
$bg-icons-light: #cccccc;
$button-green-color: #64d1bc;

