/* colors */
$white: #ffffff;
$extra-light-grey: #ececec;
$grey-light: #cccccc;
$grey-medium: #c6c6c6;
$grey-dark: #444444;
$black: #000000;
$tiffany-medium: #63d1bb;
$tiffany-dark: #64d1bc;

/* padding */
$padding-usual: 30px;
