.main-header {
  position: relative;
  min-height: 80px;
  text-align: center;
  border-top: 1px solid $extra-light-grey;
  border-bottom: 1px solid $extra-light-grey;

  @include bp-tablet {
    & {
      display: flex;
      flex-wrap: wrap;
      min-height: 88px;
      height: 88px;
      text-align: left;
      border-top: none;
    }
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include bp-tablet {
    min-height: 88px;
    height: 88px;
    text-align: left;
    border-top: none;
    border-bottom: 1px solid $extra-light-grey;
  }

  @include bp-desktop {
    max-width: 1050px;
    margin: 0 auto;
  }
}

.main-header__logo-link {
  @include flex-center-vh;
  height: 80px;
  width: 50%;
  margin: 0 auto;

  @include bp-tablet {
    justify-content: flex-start;
    width: 50%;
    height: 88px;
    padding: 0 0 0 50px;
  }

  @include bp-desktop {
    width: 149px;
    height: 88px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 20;
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.main-header__logo-img {
  @include bp-tablet {
    width: 113px;
    height: 46px;
  }

  @include bp-desktop {
    width: 149px;
    height: 72px;
  }
}

.main-header__nav {
  width: 100%;

  @include bp-tablet {
    width: 50%;
  }

  @include bp-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 15;
  }
}

.main-header__delivery-info {
  @include visually-hidden;

  @include bp-tablet {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 50%;
    margin: 0 0 0 50%;
    padding: 0 50px 0 0;
    font-size: 1.5rem;
    font-weight: normal;
    color: $grey-dark;
  }

  @include bp-desktop {
    height: 80px;
    padding: 0;
    margin: 0 0 0 50%;
  }
}
