.modal {
  position: fixed;

  @include flex-center-vh;
  @include position-zero;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  backface-visibility: hidden;
  z-index: 0;

  @include transition;

  &--show {
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;

    @include transition;
  }
}

.modal__dialog {
  width: 100%;
  position: relative;
  padding: $padding-usual;
  border-top: 1px solid $grey-medium-dark;
  border-bottom: 1px solid $grey-medium-dark;
  background-color: $white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);

  @include bp-tablet {
    max-width: 566px;
    padding: $padding-usual-tab 106px;

    @include gorisontal-center;
  }
}

.modal__close {
  background: $black-medium-light;
  color: $white;
  line-height: 25px;
  position: absolute;
  right: 0;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background: $tiffany-light;
  }

  @include bp-tablet {
    right: -10px;
  }
}
