.nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 999;

  @include flex-center-vh;
  width: 20px;
  height: 80px;
  background: url("../img/icon-menu-open.svg") no-repeat center;
  background-size: 20px 14px;
  border: none;

  &--close {
    background: url("../img/icon-menu-close.svg") no-repeat center;
    background-size: 21px 20px;
  }

  @include bp-tablet {
    display: none;
  }
}

.nav__wrapper {
  @include bp-only-mobile {
    display: flex;
    flex-direction: column;
    opacity: 1;
    max-height: 500px;
    pointer-events: auto;
    visibility: visible;
    backface-visibility: visible;
    z-index: 999;

    &--close {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      opacity: 0;
      max-height: 0;
      pointer-events: none;
      visibility: hidden;
      backface-visibility: hidden;
      z-index: 0;

      @include transition;
    }

    &--show {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 80px;
      left: 0;
      width: 100%;
      max-height: 500px;
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
      z-index: 999;

      @include transition;
    }
  }

  @include bp-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    z-index: 15;
  }
}

.nav__list {
  width: 100%;
  list-style-type: none;
  border-top: 1px solid $white-medium-dark;

  @include transition;

  @include bp-only-mobile {
    background-color: $white;
  }

  @include bp-tablet {
    max-height: 200px;
    overflow: visible;
  }

  &--addinfo {
    border-top: none;

    @include bp-tablet {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 50px;
    }

    @include bp-desktop {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      padding-right: 0;
    }
  }

  &--production {
    @include bp-tablet {
      position: absolute;
      display: flex;
      width: 60%;
      left: 0;
      bottom: -60px;
      padding-left: 25px;
      border: none;
    }

    @include bp-desktop {
      position: relative;
      width: 50%;
      min-height: 88px;
      bottom: 0;
      left: 0;
      padding-left: 0;
    }
  }
}

.nav__item {
  @include bp-only-mobile {
    width: 100%;
  }
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 100%;
  padding: 5px 10px 5px 75px;
  text-align: left;
  font-size: 1.7rem;
  color: $black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid $white-medium-dark;

  .nav__icon {
    fill: $black;
    opacity: 0.2;
  }

  &--active,
  &:hover {
    text-decoration: none;
    color: $black-light-extra;

    .nav__icon {
      fill: $tiffany-light;
      opacity: 1;
    }
  }

  &:focus,
  &:active {
    text-decoration: none;
    color: $black;
    opacity: 0.3;

    .nav__icon {
      fill: $tiffany-light;
    }
  }

  &--search::before {
    background: url("../img/icon-search.svg") no-repeat center;
    background-size: 18px 18px;
  }

  &--basket::before {
    background: url("../../img/sprite/icon-cart.svg") no-repeat center;
    background-size: 21px 18px;
  }

  &--search {
    @include bp-tablet {
      width: 82px;
      height: 88px;
      padding: 0 0 0 83px;
      overflow: hidden;
      border-bottom: none;
      border-left: 1px solid $white-medium-dark;
    }
  }

  &--basket {
    @include bp-tablet {
      height: 88px;
      padding: 0 0 0 83px;
      overflow: hidden;
      border-bottom: none;
      border-left: 1px solid $white-medium-dark;
    }
  }

  &--to-form {
    @include bp-desktop {
      border-left: 1px solid $white-medium-dark;
    }
  }

  &--catalog,
  &--to-form {
    @include bp-tablet {
      min-height: 60px;
      padding: 0 25px;
      font-size: 1.5rem;
      border-bottom: none;
    }

    @include bp-desktop {
      min-height: 88px;
      font-size: 1.7rem;
    }
  }

  &--catalog {
    @include bp-desktop {
      padding-left: 0;
    }
  }
}

.nav__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  margin-top: -10px;

  @include bp-tablet {
    left: 32px;
    margin-top: -10px;
  }
}
