.nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;

  @include flex-center-vh;
  width: 20px;
  height: 80px;
  background: url("../img/icon-menu-open.svg") no-repeat center;
  background-size: 20px 14px;

  @include bp-tablet {
    display: none;
  }
}

.nav__toggle-button {
  display: none;
}

.nav__list {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  list-style-type: none;
  border-top: 1px solid $extra-light-grey;

  @include transition;

  @include bp-tablet {
    max-height: 200px;
    overflow: visible;
  }

  &--addinfo {
    border-top: none;

    @include bp-tablet {
      display: flex;
      width: 100%;
    }

    @include bp-desktop {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &--production {
    @include bp-tablet {
      position: absolute;
      display: flex;
      width: 50%;
      bottom: -80px;
      left: 25px;
      border-top: none;
    }

    @include bp-desktop {
      position: relative;
      bottom: 0;
      left: -25px;
    }
  }

  &--product-filter {
    @include bp-desktop {
      display: flex;
      width: 50%;
      margin-left: -25px;
      border-top: none;
      border-bottom: none;
    }
  }
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 0 0 75px;
  font-size: 1.7rem;
  color: $black;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid $extra-light-grey;

  &--active,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    color: $tiffany-medium;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    width: 21px;
    height: 80px;
    opacity: 0.2;

    @include bp-tablet {
      top: 0;
      left: 32px;
      height: 88px;
    }
  }

  &--search::before {
    background: url("../img/icon-search.svg") no-repeat center;
    background-size: 18px 18px;
  }

  &--basket::before {
    background: url("../../img/icon-cart.svg") no-repeat center;
    background-size: 21px 18px;
  }

  &--search {
    @include bp-tablet {
      width: 82px;
      height: 88px;
      padding: 0 0 0 83px;
      overflow: hidden;
      border-bottom: none;
      border-left: 1px solid $extra-light-grey;
    }
  }

  &--basket {
    @include bp-tablet {
      height: 88px;
      padding: 0 0 0 83px;
      overflow: hidden;
      border-bottom: none;
      border-left: 1px solid $extra-light-grey;
    }
  }

  &--to-form {
    @include bp-desktop {
      border-left: 1px solid $extra-light-grey;
    }
  }

  &--catalog,
  &--to-form {
    @include bp-tablet {
      font-size: 1.5rem;
      border-bottom: none;
      padding: 0 25px;
    }

    @include bp-desktop {
      height: 88px;
      font-size: 1.7rem;
    }
  }

  &--product-filter-link {
    @include bp-desktop {
      padding: 0 25px;
      font-size: 1.5rem;
      border: none;
    }
  }
}

.nav__toggle-button:checked ~ .nav__list {
  max-height: 500px;
}

.nav__toggle-button:checked ~ .nav__toggle {
  background: url("../../img/icon-menu-close.svg") no-repeat center;
  background-size: 21px 20px;
}
