/* =====  normalize  ===== */
@import "libs/normalize";

/* =====  variables ===== */
@import "base/variables";
@import "base/mixins";

/* =====  TEST  ===== */
/*@import "global/adaptive-test";*/

/* =====  typography ===== */
@import "base/font-face";
@import "base/base";

/* =====  layouts  ===== */
@import "base/hidden";
@import "global/layouts";

/* function elements */
@import "global/button";
@import "global/modal";
@import "blocks/slider";

/* ===== header ===== */
@import "global/main-header";
@import "global/nav";

/* ===== footer ===== */
@import "global/main-footer";

/* ===== developer ===== */
@import "blocks/developer";

/* ===== content ===== */
/* description info on page  */
@import "global/main-content";
@import "blocks/intro";
@import "blocks/promo";
@import "blocks/content-box";
@import "blocks/content-box-header";
@import "blocks/about-us";
@import "blocks/review";

/* catalog */
@import "blocks/catalog";
@import "blocks/catalog-product-type";
@import "blocks/video";
@import "blocks/video-box";
@import "blocks/product-filter";
@import "blocks/product-info";
@import "blocks/product-week";

/* contacts */
@import "blocks/contacts";
@import "blocks/contacts-info";
@import "blocks/map-box";
@import "blocks/social-box";

/* forms */
@import "blocks/full-order-box";
@import "blocks/full-order-form";
@import "blocks/order-form";
